/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* defaults */
/* ======== */
/* grid */
/* ==== */
/* mixins */
/* ====== */
/* splash */
/* ====== */
/* line 4, ../sass/_common.scss */
.media {
  background: #000;
  color: #fff;
}

/* line 9, ../sass/_common.scss */
.download, .platforms {
  background: #fff;
  color: #000;
}

/* line 14, ../sass/_common.scss */
body {
  font-family: "Open Sans", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  background: #000;
  color: #fff;
}

/* line 21, ../sass/_common.scss */
header {
  background-color: #000;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UyN2I4NCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzVmMmQ2YSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-linear-gradient(90deg, #e27b84, #5f2d6a);
  background-image: -webkit-linear-gradient(90deg, #e27b84, #5f2d6a);
  background-image: linear-gradient(0deg, #e27b84, #5f2d6a);
  padding: 50px 0;
  text-align: center;
}
/* line 27, ../sass/_common.scss */
header img {
  min-width: 320px;
  width: 33%;
}

/* line 33, ../sass/_common.scss */
.footer {
  height: 80px;
  background: #000;
  line-height: 80px;
  font-size: 14px;
}
/* line 39, ../sass/_common.scss */
.footer .esrb {
  display: inline-block;
  height: 53px;
  margin-left: 10px;
  vertical-align: middle;
}
/* line 46, ../sass/_common.scss */
.footer .socialmedia {
  margin-right: 30px;
  display: inline-block;
  vertical-align: middle;
  float: right;
}
/* line 52, ../sass/_common.scss */
.footer .socialmedia .bold {
  font-weight: bold;
}
/* line 56, ../sass/_common.scss */
.footer .socialmedia li {
  margin-left: 10px;
  display: inline-block;
  text-decoration: none;
  list-style: none;
}
/* line 62, ../sass/_common.scss */
.footer .socialmedia li a {
  color: #fff;
  text-decoration: none;
}

/* SPLASH */
/* breakpoints: 480px, 768px, 1024px, 1280px */
/* line 13, ../sass/main.scss */
.splash {
  width: 100%;
  height: 250px;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  background: #fff;
}
@media (min-width: 480px) {
  /* line 13, ../sass/main.scss */
  .splash {
    height: 300px;
  }
  /* line 23, ../sass/main.scss */
  .splash .calltoaction {
    width: 400px !important;
    height: 200px !important;
  }
  /* line 27, ../sass/main.scss */
  .splash a {
    height: 60px !important;
    padding: 0 28px !important;
    font-size: 18px !important;
    line-height: 60px !important;
  }
}
@media (min-width: 768px) {
  /* line 13, ../sass/main.scss */
  .splash {
    height: 400px;
  }
}
@media (min-width: 1024px) {
  /* line 13, ../sass/main.scss */
  .splash {
    height: 550px;
  }
  /* line 40, ../sass/main.scss */
  .splash .calltoaction {
    width: 600px !important;
    height: 265px !important;
  }
  /* line 43, ../sass/main.scss */
  .splash a {
    height: 74px !important;
    padding: 0 36px !important;
    font-size: 24px !important;
    line-height: 74px !important;
  }
}
@media (min-width: 1280px) {
  /* line 13, ../sass/main.scss */
  .splash {
    height: 700px;
  }
}
/* line 54, ../sass/main.scss */
.splash .calltoaction {
  margin: auto;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 150px;
  text-align: center;
  z-index: 2;
}
/* line 60, ../sass/main.scss */
.splash .calltoaction .logo {
  width: 100%;
}
/* line 65, ../sass/main.scss */
.splash .calltoaction a {
  width: auto;
  height: 50px;
  margin: 6px auto 0 auto;
  padding: 0 24px;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 50px;
  letter-spacing: 2px;
  background: #000;
  color: #fff;
}
/* line 80, ../sass/main.scss */
.splash .calltoaction a:hover {
  background: #fff;
  color: #000;
}
/* line 87, ../sass/main.scss */
.splash .scene {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* line 91, ../sass/main.scss */
.splash .scene .layer {
  width: 100%;
  height: 100%;
}
/* line 95, ../sass/main.scss */
.splash .scene .layer > img {
  margin: auto;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 125%;
  left: -12.5%;
}

/* ONE LINER */
/* line 105, ../sass/main.scss */
.oneliner {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
/* line 12, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.oneliner:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 112, ../sass/main.scss */
.oneliner p {
  width: 83.05085%;
  float: left;
  margin-right: 1.69492%;
  margin: 0;
  padding: 60px 6.77966%;
  position: relative;
  font-size: 16px;
  line-height: 42px;
  letter-spacing: 1px;
  z-index: 1;
}
@media (min-width: 768px) {
  /* line 112, ../sass/main.scss */
  .oneliner p {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%;
    padding: 80px 15.25424% 0 15.25424%;
    font-size: 20px;
  }
}
/* line 126, ../sass/main.scss */
.oneliner p strong {
  text-transform: uppercase;
}
/* line 131, ../sass/main.scss */
.oneliner .awards {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 70px;
  width: 66%;
}
/* line 141, ../sass/main.scss */
.oneliner .award {
  margin-bottom: 30px;
  min-width: 172px;
  width: 25%;
}

/* line 147, ../sass/main.scss */
.video {
  width: 560px;
  height: 315px;
  max-width: 90%;
  padding: 40px 0 80px 0;
  display: inline-block;
}

/* THE GAME */
/* line 159, ../sass/main.scss */
.thegame .parallax-window {
  height: 360px;
  background-size: cover;
  background-position: center;
}
/* line 167, ../sass/main.scss */
.thegame .parallax-window.coremechanic {
  background-size: cover;
  max-width: 925px;
  margin-left: auto;
  margin-right: auto;
}
/* line 174, ../sass/main.scss */
.thegame .blurb {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.thegame .blurb:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 177, ../sass/main.scss */
.thegame .blurb p {
  width: 83.05085%;
  float: left;
  margin-right: 1.69492%;
  margin: 0;
  padding: 80px 6.77966%;
  position: relative;
  font-size: 16px;
  font-style: italic;
  text-align: center;
  line-height: 42px;
  letter-spacing: 1px;
  z-index: 1;
}
@media (min-width: 768px) {
  /* line 177, ../sass/main.scss */
  .thegame .blurb p {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%;
    padding: 100px 15.25424%;
    font-size: 20px;
  }
}

/* DOWNLOAD */
/* line 197, ../sass/main.scss */
.download {
  padding: 100px 30px;
  text-align: center;
}
/* line 202, ../sass/main.scss */
.download h1 {
  margin-bottom: 50px;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}
/* line 210, ../sass/main.scss */
.download .mc-field-group {
  font-size: 0;
}
/* line 213, ../sass/main.scss */
.download .mc-field-group .email-label, .download .mc-field-group input {
  margin: 0;
  padding: 4px 8px;
  display: inline-block;
  font-size: 18px;
  vertical-align: middle;
  border: 2px solid #000;
}
/* line 220, ../sass/main.scss */
.download .mc-field-group .email-label {
  height: 32px;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 32px;
  background: #000;
  color: #fff;
}
/* line 228, ../sass/main.scss */
.download .mc-field-group input {
  width: 230px;
  height: 32px;
}
/* line 231, ../sass/main.scss */
.download .mc-field-group .subscription {
  padding-top: 10px;
  font-size: 16px;
}
/* line 234, ../sass/main.scss */
.download .mc-field-group .subscription input {
  width: 30px;
}
/* line 237, ../sass/main.scss */
.download .mc-field-group .subscription label {
  height: 32px;
  display: inline-block;
  vertical-align: top;
  line-height: 32px;
}
/* line 246, ../sass/main.scss */
.download #mc-embedded-subscribe {
  width: 240px;
  margin: 50px 0 0 0;
  padding: 12px 0;
  border: none;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: #000;
  color: #fff;
}
/* line 256, ../sass/main.scss */
.download #mc-embedded-subscribe:hover {
  cursor: pointer;
}
/* line 261, ../sass/main.scss */
.download a, .download .subscribe {
  font-size: 14px;
}

/* MEDIA */
/* line 267, ../sass/main.scss */
.media {
  padding: 100px 30px;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
/* line 273, ../sass/main.scss */
.media h1 {
  margin-bottom: 30px;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}
/* line 281, ../sass/main.scss */
.media .media-links > div {
  display: inline-block;
  width: 30%;
}
/* line 286, ../sass/main.scss */
.media img {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 768px) {
  /* line 293, ../sass/main.scss */
  .media .media-links > div {
    width: 100%;
  }
  /* line 296, ../sass/main.scss */
  .media .media-links > div:not(:last-child) {
    margin-right: 0;
    margin-bottom: 100px;
  }
}

/* PLATFORMS */
/* line 305, ../sass/main.scss */
.platforms {
  padding: 100px 30px;
  text-align: center;
}
/* line 310, ../sass/main.scss */
.platforms h1 {
  margin-bottom: 50px;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}
/* line 318, ../sass/main.scss */
.platforms .platform-logos {
  margin-left: auto;
  margin-right: auto;
  width: 66%;
}
/* line 323, ../sass/main.scss */
.platforms .platform-logos img {
  display: inline-block;
  width: 45%;
}
/* line 329, ../sass/main.scss */
.platforms .ps4 {
  margin-right: 9%;
}
@media (max-width: 768px) {
  /* line 334, ../sass/main.scss */
  .platforms .platform-logos {
    width: 100%;
  }
}
@media (max-width: 480px) {
  /* line 340, ../sass/main.scss */
  .platforms .platform-logos {
    width: 80%;
  }
  /* line 343, ../sass/main.scss */
  .platforms .platform-logos img {
    display: block;
    width: 100%;
  }
  /* line 349, ../sass/main.scss */
  .platforms .ps4 {
    margin-right: 0;
    margin-bottom: 50px;
  }
}

/* AS FEATURED ON */
/* line 357, ../sass/main.scss */
.asfeaturedon {
  height: 220px;
  width: 100%;
  text-align: left;
  line-height: 220px;
  background: #000;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}
/* line 367, ../sass/main.scss */
.asfeaturedon::-webkit-scrollbar {
  display: none;
}
/* line 371, ../sass/main.scss */
.asfeaturedon h1 {
  margin-left: 30px;
  float: left;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}
/* line 380, ../sass/main.scss */
.asfeaturedon ul {
  height: 220px;
  width: 3140px;
  display: inline-block;
}
/* line 389, ../sass/main.scss */
.asfeaturedon ul li {
  height: 220px;
  display: inline-block;
  line-height: 220px;
  white-space: normal;
  float: left;
}
/* line 396, ../sass/main.scss */
.asfeaturedon ul li:before {
  content: "";
  width: 1px;
  height: 220px;
  margin-left: 40px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  background: rgba(255, 255, 255, 0.2);
}
/* line 406, ../sass/main.scss */
.asfeaturedon ul li img, .asfeaturedon ul li p {
  padding-left: 40px;
  display: inline-block;
  vertical-align: middle;
}
/* line 412, ../sass/main.scss */
.asfeaturedon ul li p {
  width: 300px;
  font-size: 16px;
  line-height: 24px;
}

/* TEAM */
/* line 422, ../sass/main.scss */
.team {
  padding: 50px 20px;
  position: relative;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
}
/* line 433, ../sass/main.scss */
.team .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 0;
}
/* line 440, ../sass/main.scss */
.team * > a {
  font-weight: 700;
  text-decoration: none;
  color: inherit;
}
/* line 445, ../sass/main.scss */
.team #friends-link {
  text-decoration: underline;
}
/* line 449, ../sass/main.scss */
.team h1 {
  margin-bottom: 12px;
  position: relative;
  font-size: 24px;
  line-height: 36px;
  z-index: 1;
}
/* line 457, ../sass/main.scss */
.team .info {
  position: relative;
  z-index: 1;
}
/* line 462, ../sass/main.scss */
.team img {
  width: 140px;
  margin-top: 25px;
}

/* line 467, ../sass/main.scss */
.friends {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.94);
  overflow-y: scroll;
  z-index: 999999;
  display: none;
}
/* line 477, ../sass/main.scss */
.friends .close {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 24px;
  text-transform: uppercase;
  cursor: pointer;
}
/* line 484, ../sass/main.scss */
.friends h1 {
  padding-top: 100px;
  font-size: 24px;
  font-weight: 700;
}
/* line 489, ../sass/main.scss */
.friends ul {
  width: 50%;
  padding: 150px 0;
  display: inline-block;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 1px;
  text-align: center;
}
/* line 499, ../sass/main.scss */
.friends ul li a {
  color: white;
}
