/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "base";

body {
    font-family: $default-font;
    font-size: $default-font-size;
    background: $default-background;
    color: $default-color;
}

.content {
    margin: 0; padding: 0;
}

/* SPLASH */
/* breakpoints: 480px, 768px, 1024px, 1280px */

.splash {
    width: 100%; height: $splash-height - 50px;
    margin: 0; padding: 0;
    position: relative;
    overflow: hidden;
    background: #fff;

    @include susy-breakpoint(480px, $susy) {
        height: $splash-height;

        .calltoaction {
            width: 400px !important; height: 200px !important;
        }

        a {
            height: 60px !important;
            padding: 0 28px !important;
            font-size: 18px !important;
            line-height: 60px !important;
        }
    }
    @include susy-breakpoint(768px, $susy) {
        height: $splash-height + 100px;
    }
    @include susy-breakpoint(1024px, $susy) {
        height: $splash-height + 250px;

        .calltoaction {
            width: 600px !important; height: 265px !important;
        }
        a {
            height: 74px !important;
            padding: 0 36px !important;
            font-size: 24px !important;
            line-height: 74px !important;
        }
    }
    @include susy-breakpoint(1280px, $susy) {
        height: $splash-height + 400px;
    }

    .calltoaction {
        @include absolute-center;
        width: 300px; height: 150px;
        text-align: center;
        z-index: 2;

        .logo {
            width: 100%;
        }

        $height: 50px;
        a {
            width: auto; height: $height;
            margin: 6px auto 0 auto; padding: 0 24px;
            display: inline-block;
            font-size: 16px;
            font-weight: 700;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            line-height: $height;
            letter-spacing: 2px;
            background: #000;
            color: #fff;
            // border: 5px solid #000;

            &:hover {
                background: #fff;
                color: #000;
            }
        }
    }

    .overlay {
        @include absolute-center;
        width: 100%; height: 100%;
        // background: rgba(0,0,0,0.25);
        z-index: 1;

        .ribbons {
            position: absolute;
            top: 0; right: $default-side-padding;
            font-size: 0;

            $width: 90px;
            $height: 140px;
            $background: white;
            .ribbon {
                width: $width; height: $height;
                margin-left: 10px;
                position: relative;
                display: none;
                font-size: $default-font-size;
                text-align: center;
                line-height: $height;
                background: $background;

                @include susy-breakpoint(1024px, $susy) {
                    display: inline-block;
                }

                &:after {
                    content: "";
                    width: 0; height: 0;
                    position: absolute;
                    bottom: -($width/2 + 2); left: 0;
                    border: $width/2 solid $background;
                    border-bottom-color: transparent;
                    z-index: -1;
                }

                img {
                    width: 80%;
                    padding-top: 5px;
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }
    }

    .scene {
        width: 100%; height: 100%;
        overflow: hidden;

        .layer {
            width: 100%; height: 100%;

            $crop: 25%;
            &>img {
                @include absolute-center;
                width: 100% + $crop;
                left: -$crop/2;
            }
        }
    }
}

/* ONE LINER */
.oneliner {
    @include container;

    // border-top: 2px solid white;

    p {
        @include span(10);
        @include susy-breakpoint(768px, $susy) {
            @include span(8);
            padding: 80px span(2);
            font-size: 20px;
        }
        margin: 0; padding: 60px span(1);
        position: relative;
        font-size: 16px;
        text-align: center;
        line-height: 42px;
        letter-spacing: 1px;
        z-index: 1;

        strong {
            text-transform: uppercase;
        }
    }
}

/* THE GAME */
.thegame {
    // @include skew;
    .parallax-window {
        height: 360px;

        background-size: cover;
        background-position: center;
        // border-top: 2px solid white;
        // border-bottom: 2px solid white;

        &.coremechanic {
            // TODO: offset from top
            background-position: center;
        }
    }
    .blurb {
        @include container;

        p {
            @include span(10);
            @include susy-breakpoint(768px, $susy) {
                @include span(8);
                padding: 100px span(2);
                font-size: 20px;
            }
            margin: 0; padding: 80px span(1);
            position: relative;
            font-size: 16px;
            font-style: italic;
            text-align: center;
            line-height: 42px;
            letter-spacing: 1px;
            z-index: 1;
        }
    }
}

/* DOWNLOAD */
.download {
    padding: 100px $default-side-padding;
    text-align: center;
    background: #fff;
    color: #000;

    h1 {
        margin-bottom: 50px;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .mc-field-group {
        font-size: 0;

        .email-label, input {
            margin: 0; padding: 4px 8px;
            display: inline-block;
            font-size: 18px;
            vertical-align: middle;
            border: 2px solid #000;
        }
        .email-label {
            height: 32px;
            text-transform: uppercase;
            letter-spacing: 2px;
            line-height: 32px;
            background: #000;
            color: #fff;
        }
        input {
            width: 230px; height: 32px;
        }
        .subscription {
            padding-top: 10px;
            font-size: 16px;
            input {
                width: 30px;
            }
            label {
                height: 32px;
                display: inline-block;
                vertical-align: top;
                line-height: 32px;
            }
        }
    }

    #mc-embedded-subscribe {
        width: 240px;
        margin: 50px 0 0 0; padding: 12px 0;
        border: none;
        font-size: 18px;
        letter-spacing: 2px;
        text-transform: uppercase;
        background: #000;
        color: #fff;

        &:hover {
            cursor: pointer;
        }
    }

    a, .subscribe {
        font-size: 14px;
    }
}

/* AS FEATURED ON */
.asfeaturedon {
    $height: 220px;
    height: $height; width: 100%;
    text-align: left;
    line-height: $height;
    background: #000;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;

    &::-webkit-scrollbar {
        display: none;
    }

    h1 {
        margin-left: $default-side-padding;
        float: left;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    ul {
        height: $height;
        width: 4400px;
        // float: left;
        // line-height: $height;
        // overflow-x: auto;
        // overflow-y: hidden;
        display: inline-block;

        li {
            height: $height;
            display: inline-block;
            line-height: $height;
            white-space: normal;
            float: left;

            &:before {
                content: "";
                width: 1px; height: $height;
                margin-left: 40px;
                display: inline-block;
                text-align: center;
                vertical-align: middle;
                background: rgba(255,255,255,0.2);
            }

            img, p {
                padding-left: 40px;
                display: inline-block;
                vertical-align: middle;
            }

            p {
                width: 300px;
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
}

/* TEAM */
.team {
    padding: 50px 20px;
    position: relative;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;

    .overlay {
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        background: rgba(0,0,0,0.4);
        z-index: 0;
    }

    *>a {
        font-weight: 700;
        text-decoration: none;
        color: inherit;
    }

    h1 {
        margin-bottom: 12px;
        position: relative;
        font-size: 24px;
        line-height: 36px;
        z-index: 1;
    }

    .info {
        position: relative;
        z-index: 1;
    }

    img {
        width: 140px;
        margin-top: 25px;
    }
}
.friends {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    font-size: 0;
    text-align: center;
    background: rgba(0,0,0,0.94);
    overflow-y: scroll;
    z-index: 999999;
    display: none;

    .close {
        position: absolute;
        top: $default-side-padding; right: $default-side-padding;
        font-size: 24px;
        text-transform: uppercase;
        cursor: pointer;
    }
    h1 {
        padding-top: 100px;
        font-size: 24px;
        font-weight: 700;
    }
    ul {
        width: 50%;
        padding: 150px 0;
        display: inline-block;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 1px;
        text-align: center;

        li {
            a {
                color: white;
            }
        }
    }
}

/* FOOTER */
.footer {
    height: 80px;
    background: #000;
    line-height: 80px;
    font-size: 14px;

    .chambara {
        margin-left: $default-side-padding;
        display: inline-block;
        vertical-align: middle;
        float: left;
    }
    .socialmedia {
        margin-right: $default-side-padding;
        display: inline-block;
        vertical-align: middle;
        float: right;

        li {
            margin-left: 10px;
            display: inline-block;
            text-decoration: none;
            list-style: none;

            a {
                color: #fff;
                text-decoration: none;
            }
        }
    }
}
