@import "compass/reset";
@import "common";

.content {
  width: 100%;
  background: #fff;
}

.support {
  color: #000;
  line-height: 1.4;
  margin: 75px auto;
  width: 50%;
  min-width: 480px;

  @media (max-width: 768px) {
    margin: 50px auto;
    width: 90%;
    min-width: 0;
  }

  h1 {
    margin-bottom: 1.5rem; // TODO this is a hack
    font-size: 24px;
    font-weight: 700;
  }

  h2 {
    margin-bottom: 1rem;
    font-size: 18px;
    font-weight: 700;
  }

  p {
    margin-bottom: 1rem;
  }

  ul {
    list-style: initial;
    margin-bottom: 1.5rem; // TODO this is a hack
  }

  li {
    margin-left: 1rem;
  }
}
